

.cad-footer div p{
  font-size: 12px;
  text-align: center;
}


 ::ng-deep .ngx-pagination {
   padding: 15px;
  text-align: center !important;
}

::ng-deep .ngx-pagination .current {
  padding: 8px;
  background-color: red !important;
}